---
import Layout from "./Layout.astro";
import { Picture } from '@astrojs/image/components';

const { content } = Astro.props;
const featuredImage = await import(`${content.featured_image}`);
console.log(featuredImage);
---

<Layout title={content.title} description={content.description}>
  <section class="max-w-3xl mx-auto">
    <h1>{content.title}</h1>

    <article class="mt-4">
      <section>
        <div class="aspect-video rounded overflow-hidden border border-gray-700 bg-gray-900">
          <Picture src={featuredImage} alt={`screen shot of ${content.title}`} sizes="(max-width: 639px) 360, (max-width: 768px) 640, 960" widths={[360, 640, 960]} aspectRatio="16:9" />
        </div>
        <slot />
      </section>

      <aside class="flex items-center gap-4 mt-4">
        {content.url && (
          <a href={content.url} target="_blank" rel="noopener nofollow">
            <span>Visit Website</span>
          </a>
        )}
        {content.github && (
          <a href={content.github} target="_blank" rel="noopener nofollow">
              <span>View Source</span>
          </a>
        )}
      </aside>
    </article>
  </section>
</Layout>
