---
import {Picture} from '@astrojs/image/components';

export interface Props {
    work: object;
}

const { work } = Astro.props;
const featuredImage = new URL(`${work.frontmatter.featured_image}`, Astro.url).href;
---

<div class="card">
  <div class="aspect-video rounded overflow-hidden border border-gray-700 bg-gray-900">
    <Picture src={featuredImage} alt={`screen shot of ${work.frontmatter.title}`} sizes="(max-width: 960px), (min-width: 961px)" widths={[360, 640]} aspectRatio="16:9" />
  </div>
  <div>
    <h3 class="mb-0">{work.frontmatter.title}</h3>
    <p class="mt-2">{work.frontmatter.description}</p>
    <div class="flex items-center gap-4 flex-wrap">
      <a href={`${work.url}/`}>
        <span>About</span>
        <span class="sr-only">{work.frontmatter.title}</span>
      </a>
      {work.frontmatter.url && (
      <a href={work.frontmatter.url} target="_blank" rel="noopener nofollow">
        <span>Visit Website</span>
        <span class="sr-only">for {work.frontmatter.title}</span>
      </a>
      )}
      {work.frontmatter.github && (
        <a href={work.frontmatter.github} target="_blank" rel="noopener nofollow">
            <span>Source Dive</span>
            <span class="sr-only">code for {work.frontmatter.title}</span>
        </a>
      )}
    </div>
  </div>
</div>
